<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue 列表循环</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          listObject: {
            first: "aaa",
            second: "bbb",
            third: "third",
          },
        }
      },
      methods: {
        add() {
          // 1. 直接增加对象的内容，也可以自动的展示出来
          this.listObject.age = 100
          this.listObject.sex = "male"
        },
      },
      // 增加 :key="index" 可以提高渲染性能,vue底层做了复用优化
      // 技巧: 使用 template 代替 div，就少渲染一层 div
      template: `
      <div>
        <template v-for="(value,key,index) in listObject" :key="index">
          <div v-if="key !== 'second'">{{value}} -- {{key}}</div>
        </template>
        <button @click="add">新增</button>
         <div v-for="item in 10">{{item}}</div>
      </div>
      `,
    })
    const vm = app.mount("#root")
  </script>
</html>
